In [ ]:
string=print('enter a word')
def stringmanipulation(string):
  newstring=" "
	lettercount=1
	for character in string:
		if (lettercount%2==0):
			newstring=newstring+character.upper()
		else:
			newstring=newstring+character.lower()
  lettercount+=1 

return newstring

print("the matching string is:",stringmanipulation(string))

TabError: ignored

In [1]:
test_str = "codinginpython"
print("The original string is : " + str(test_str))
res = ""
for idx in range(len(test_str)):
    if idx % 2==1 :
       res = res + test_str[idx].upper()
    else:
       res = res + test_str[idx].lower()
print("The alterate case string is : " + str(res))

The original string is : codinginpython
The alterate case string is : cOdInGiNpYtHoN

def myfunc(*args):
    even_list=[]
    for n in args:
        if n%2==0:
          even_list.append(n)
          return even_list[n]

myfunc(2,4,3,89,90)

In [ ]:
string=print('enter a word')
def stringmanipulation(string):
  res=""
  for idx in range(len(string)):
    if idx % 2==1 :
       res = res + string[idx].upper()
    else:
       res = res + string[idx].lower()
  return str(res)

stringmanipulation('wearedoingcoding')

enter a word

'wEaReDoInGcOdInG'

**Even numbers picking**
Using *args in function. Here any number of variables can be passed

In [ ]:
def myfunc(*args):
    even=[]
    for n in args:
        if n %2==0:
            even.append(n)
        else:
            pass
        
    return even
myfunc(1,2,3,4,8,9)

[2, 4, 8]

# ***To find lesser of two evens. Funtions used: min(), max()***

In [ ]:
def lesser_of_two_evens(a,b):
  if a%2==0 and b%2==0:
    return min (a,b)
  else:
    return max(a,b)

## ***output***

In [ ]:
lesser_of_two_evens(2,4)

2

# ***Taking two variables and returing True, if either one of the variable or addtion of two variables is 20.***

In [ ]:
def make_twenty(n1,n2):
  return n1==20 or n2==20 or n1+n2==20

***Output:***

In [ ]:
make_twenty(8,7)

False

# ***Returning True if the starting letter of two given strings are same.Funtions used, split(), == to give True or False ***

In [ ]:
def animal_crackers(text):
  word=text.split()
  return word[0][0]==word[1][0]

In [ ]:
animal_crackers('hipp hip')

True

# *** capitalizing the first and fourth letters of a name***

***Keywords used:If, len()***

In [ ]:
def capitalise(name):
  if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
  else:
        return 'Name is too short!'

In [ ]:
capitalise('Moo n to back')

'Moo n to back'

# ***Concatenating two given strings and capitalising alternate letters.***

***keyword used: .replace(' ', '')***

In [ ]:
def stringmanipulation(string):
  res = string.replace(' ','')
  res1=''
  for idx in range(len(res)):
    if idx == 0 or idx==3 :
       res1 = res1 + res[idx].upper()
    else:
       res1 = res1 + res[idx].lower()
  return str(res1)

stringmanipulation('hi all')

'HiaLl'

If a new string is not defined, two words will be concatenated and the in the ouput we will get, concatenation of the strings and alternate capitilisation of the letters together.

In [ ]:
string=print('enter a word')
def stringmanipulation(string):
  #s = string.replace(' ','')
  res="".join(string.split())
  for idx in range(len(res)):
    if idx == 0 or idx==3 :
       res = res + res[idx].upper()
    else:
       res = res + res[idx].lower()
  return str(res)

stringmanipulation('hi there')

enter a word

'hithereHitHere'

***Here instead of concatenating the strings with .replace(' ','') , "".join(string.split()) is used***

In [ ]:
string=print('enter a word')
def stringmanipulation(string):
  res="".join(string.split())
  res1=''
  for idx in range(len(res)):
    if idx == 0 or idx==3 :
       res1 = res1 + res[idx].upper()
    else:
       res1 = res1 + res[idx].lower()
  return str(res1)

stringmanipulation('hi there')

enter a word

'HitHere'

# ***Capitalising particular range of letter in a string***

*range(), len() and == operator is used*

In [13]:
def capitalize1(new):
  
  for idx in range(len(res)):
    if idx == 0 or idx==3 :
       res = res + res[idx].upper()
    else:
       res = res + res[idx].lower()
    return str(res)

***Output:***

In [14]:
capitalize1("happy")

'happyH'

# ***String reverse***

In [ ]:
print("Enter the words")
def wreverse(text):
  return ' '.join(text.split()[::-1])

Enter the words

In [ ]:
wreverse('i am coming tomorrow')

'tomorrow coming am i'

# ***Sring palindrome***

In [16]:
def palindrome(s):
    
    s = s.replace(' ','') 
    return s == s[::-1]

In [18]:
palindrome('racecar')

True

almost there.

In [ ]:
def almost_there(n):
  return (abs(100-n))<=10 or (abs(200-n))<=10

In [ ]:
almost_there(159)

False

# ***Return True if array has a 3 next to a 3. else return false***

***Method 1:***

In [ ]:
def func_33(nums):
  for i in range(0,len(nums)-1):

    if nums[i:i+2]==[3,3]:
      return True
    return False

***Method 2:***

In [15]:
def func_33(nums):
  for i in range(0,len(nums)-1):

    return nums[i:i+2]==[3,3]

In [ ]:
has_33([3,3,1])

True

# ***Return every character 3 times***

In [ ]:
def getword(word):
  result=''
  for letter in word:
    result=result+letter*3
  return result

getword('meena')

'mmmeeeeeennnaaa'